body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #F3F3F3
}

/*------ CSS for toggle switch ---------*/

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

/*--------- END css for toggle --------*/

/* CSS for workflow */
 .diagram-component {
    width: 650px;
    height: 2000px;
    border: solid 1px black;
    background-color: white;
  }

  .box {
  background-color: lightblue;
  width: 200px;
  border: 10px solid blue;
  padding: 10px;
  margin: 20px;
}

  .box2 {
  background-color: lightblue;
  width: 500px;
  border: 10px solid blue;
  padding: 10px;
  margin: 20px;
}

  .box3 {
  background-color: lightblue;
  width: 800px;
  border: 10px solid blue;
  padding: 10px;
  margin: 20px;
}

  .box4 {
  background-color: lightblue;
  width: 250px;
  border: 10px solid blue;
  padding: 10px;
  margin: 20px;
}

  .column-box {
  background-color: orange;
  width: 1000px;
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
}

.column-box2 {
  background-color: orange;
  width: 250px;
  border: 10px solid red;
  padding: 10px;
  margin: 20px;
  }

